@import './mixins';

.custumer {
    text-align: $text-align;
    padding-top: 82px;
    padding-bottom: 80px;
    .font--italic {
        font-style: $font-italic;
    }
    &__item {
        max-width: 226px;
        margin-right: 30px;
        .icon-wraper {
            border-radius: 50%;
            padding: 30px;
            margin: 0 64px;
        }
        .wraper--aqua {
            background: $bg-aqua;
        }
        .wraper--violet {
            background: $bg-violet;
        }
        .wraper--pink {
            background: $bg-pink;
        }
        &-wraper {
            @include flex-container(center, center);
            padding-top: 40px;
            padding-bottom: 10px;
        }
        h5 {
            padding: 14px 0 12px 0;
        }
        p {
            font-size: 16px;
            line-height: 1.55;
            letter-spacing: 0.2px;
            color: #72808E;
            padding-bottom: 10px;
        }
        a {
            @extend %learn-more;
        }
    }
}