@import './mixins';

.employees {
    padding: 42px 0 40px;
    &-wraper {
        @include flex-container(space-between, center);
        @extend %container;
    }
    &__item {
        @include flex-container(center, center);
        position: relative;
        opacity: 0.6;

        &__block {
            padding-left: 22px;
            p {
                padding-bottom: 12px;
                font-size: 18px;
                line-height: 1.75;
                color: #39394D;
            }
        }
        a {
            position: absolute;
            left: 30px;
        }
    }
}